<<<<<<< HEAD
<div class="ember-view">
  <HeaderNav />
  <FlashNotice />
  <div id="ember-wormhole-destination"></div>
=======
{{page-title "AlphaAmber"}}

<h2 id="title">Welcome to Ember</h2>
>>>>>>> 09c1698 (v3.20.2...v3.28.5)

  <MenuSidebar />
  <PrivacyModal />

  <div class="app">
    <div class="container main {{if session.isAuthenticated 'authenticated '}} {{if layoutManager.leftSideBarExpanded 'left-sidebar-expanded '}} {{if layoutManager.leftSideBarOpen 'left-sidebar-open'}}">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
  <FooterNav @class={{concat "footer-holder " (concat (if layoutManager.leftSideBarExpanded "left-sidebar-expanded ") (if layoutManager.leftSideBarOpen "left-sidebar-open"))}} />
</div>
